body{
	margin: 0;
	padding: 10px;
	background:url(img/mat1.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	
}
.header
{
	text-align: center;
	background:;
	padding:30px;
}